<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-resolve-url</string>
	<key>connections</key>
	<dict>
		<key>2F4CEE66-8D6E-411F-8AD6-E6A224A8F1A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0ECFD7D6-F218-4A17-8237-9FCC433933DC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to Clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D8A11770-10C0-4FFA-94B6-FB580DE8AB4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5BFFB77D-7602-4C36-AB3D-0AC48BF9C2C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6EA5B31E-9C13-43CA-9188-50A57EC5FF76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B40AC93A-5C7C-42BB-A934-CE44A7D77B2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Resolve all URL redirects</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Resolve URL</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>resolve</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Resolving URL redirects…</string>
				<key>script</key>
				<string>/usr/bin/python resolve.py "{query}"</string>
				<key>subtext</key>
				<string>Determine the ultimate URL</string>
				<key>title</key>
				<string>Resolve URL Redirects</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2F4CEE66-8D6E-411F-8AD6-E6A224A8F1A1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0ECFD7D6-F218-4A17-8237-9FCC433933DC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>URL copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D8A11770-10C0-4FFA-94B6-FB580DE8AB4A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5BFFB77D-7602-4C36-AB3D-0AC48BF9C2C3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>resolvepb</string>
				<key>text</key>
				<string>Resolve URL on Clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6EA5B31E-9C13-43CA-9188-50A57EC5FF76</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "Alfred 2"
	set theData to (the clipboard as text)
	search "resolve " &amp; theData
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B40AC93A-5C7C-42BB-A934-CE44A7D77B2A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0ECFD7D6-F218-4A17-8237-9FCC433933DC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>2F4CEE66-8D6E-411F-8AD6-E6A224A8F1A1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5BFFB77D-7602-4C36-AB3D-0AC48BF9C2C3</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6EA5B31E-9C13-43CA-9188-50A57EC5FF76</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>B40AC93A-5C7C-42BB-A934-CE44A7D77B2A</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D8A11770-10C0-4FFA-94B6-FB580DE8AB4A</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
